<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>GrandPy Bot</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/chatbot.css') }}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="/favicon.ico">
        <script
            src="https://maps.googleapis.com/maps/api/js?key={{ key_api_google }}&callback=initMap&libraries=&v=weekly"
            defer
        ></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/map.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>

<body>

    {% block content %}{% endblock %}

</body>
</html>