{% extends "base.html" %}

{% block content %}

    <div class="code-editor">
        <span class="control"></span>
        <span class="control"></span>
        <span class="control"></span>
        <pre class="line-numbers">


        <code class="language-css">
            Bonjour sur la page d'accueil d'Eddy Hubert.
            Vous trouverez en bas la liste des projets réalisé dans le cadre de ma formation Python d'OpenClassrooms
        </code></pre>
    </div>
    <div class="text-center">
{#        <button type="button" class="btn btn-primary btn-choose-project" formaction={{ url_for('chatbot') }}>#}
            <a class="btn btn-primary btn-choose-project" href="{{ url_for('chatbot') }}">ChatBot</a>
{#                Chatbot#}
{#        </button>#}

    </div>
{% endblock %}
